body {
    background-color: rgb(203, 221, 187);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(44, 8, 224);
    font-weight: 600;
    font-style: italic;
}

p{
    color: rgb(42, 38, 36);
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}