body {
    background-color: rgb(203, 221, 187);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(44, 8, 224);
    font-weight: 600;
    font-style: italic;
}

p{
    color: deeppink;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: 400;
}